<footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Về chúng tôi</h3>
            <a href="/" class="block-6" style="text-decoration: none;">
              <img src="images/Hồng ân.png" alt="Image placeholder" class="img-fluid rounded mb-4" width="150px" height="150px">
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Danh Mục</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  {{#each categories}}
                  <li><a href="#" style="text-decoration: none;">{{this.name}}</a></li>
                  {{/each}}
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="/" style="text-decoration: none;">Trang Chủ</a></li>
                  <li><a href="/" style="text-decoration: none;">Chính sách và Điều Khoản</a></li>
                  <li><a href="/" style="text-decoration: none;">Chính sách đổi trả</a></li>
                </ul>
              </div>
              
            </div>
          </div>
          
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Liên Hệ</h3>
              <ul class="list-unstyled">
                <li class="address">70 Nguyễn Huệ - Phường Vĩnh Ninh - TP Huế</li>
                <li class="email">lehongan93tohuu@gmail.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Liên Hệ</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email của bạn">
                  <input type="submit" class="btn btn-sm btn-primary" value="Gửi">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            &copy;<script>document.write(new Date().getFullYear());</script> Bản quyền thuộc về <i class="icon-heart" aria-hidden="true"></i><a href="/" target="_blank" class="text-primary" style="text-decoration: none; color: black;">Hồng Ân</a>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>